.cardList {
    margin-top: 5rem;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #e4f5ff;
    padding: 1rem;
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.5 );
    
}